//
   Created by Mihnea on 7/4/2015.

extends layout
block content

    if (patient)
        h1
            | #{patient.name.last}, #{patient.name.first}
        p
            | CNP: #{patient._id}
        br
        br
        table
            thead
                tr
                    td(style='width: 50%')
                        b Existing simulations
                    td(style='width: 50%')
                        b Add a simulation
            tbody
                tr
                    td(style='vertical-align:top')
                        if (patient.simulations)
                            each simulation in patient.simulations
                                p
                                    a(href='/patient/#{patient._id}/sim/#{simulation._id}') #{simulation.created}
                    td(style='vertical-align:top')
                        form(method='post', action='/simulate', enctype='application/x-www-form-urlencoded')
                            p
                                input#shoulderPos(name='shoulderPos', placeholder='Shoulder position [x,y]', autocomplete=off)
                            p
                                span
                                    input#elbowContactPos(name='elbowContactPos', placeholder='Elbow @ contact [x,y]', autocomplete=off)
                                span
                                    | &#09
                                span
                                    input#handContactPos(name='handContactPos', placeholder='Hand @ contact [x,y]', autocomplete=off)
                            p
                                span
                                    input#elbowReleasePos(name='elbowReleasePos', placeholder='Elbow @ release [x,y]', autocomplete=off)
                                span
                                    | &#09
                                span
                                    input#handReleasePos(name='handReleasePos', placeholder='Hand @ release [x,y]', autocomplete=off)
                            p
                                input#upperArmMass(name='upperArmMass', placeholder='Mass of upper arm [kg]', autocomplete=off)
                            p
                                input#forearmMass(name='forearmMass', placeholder='Mass of forearm [kg]', autocomplete=off)
                            p
                                input#handMass(name='handMass', placeholder='Mass of hand [kg]', autocomplete=off)
                            p
                                input#subjectMass(name='subjectMass', placeholder='Mass of subject [kg]', autocomplete=off)
                            p
                                input(type='submit', value='Submit data')
                                input(type='hidden', name='patient_id', value='#{patient._id}')
