//
   Created by Mihnea on 7/4/2015.

extends layout
block content

    if (patient)
        h1
            | #{patient.lastname}, #{patient.firstname}
        p
            | CNP: #{patient._id}
        br
        br
        table
            thead
                tr
                    td(style='width: 50%')
                        b Existing simulations
                    td(style='width: 50%')
                        b Add a simulation
            tbody
                tr
                    td(style='vertical-align:top')
                        if (patient.simulations)
                            div.row.span5
                                table.table.table-striped.table-condensed
                                   tbody
                                   each simulation in patient.simulations
                                        tr
                                            td
                                                a(href='/patient/#{patient._id}/sim/#{simulation._id}') #{simulation.created}
                                            td
                                                a(href='/patient/#{patient._id}/sim/#{simulation._id}/delete', class='btn btn-danger btn-xs') X
                    td(style='vertical-align:top')
                        form(method='post', action='/patient/#{patient._id}', enctype='application/x-www-form-urlencoded', autocomplete=off)
                            table
                                tbody
                                    tr
                                        td(colspan="2")
                                            input#shoulderPos(name='shoulderPos', class="form-control col-lg-6", placeholder='Shoulder position [x,y]', autocomplete=off)
                                    tr
                                        td
                                            input#elbowContactPos(name='elbowContactPos', class="form-control col-lg-6", placeholder='Elbow @ contact [x,y]', autocomplete=off)
                                        td
                                            input#handContactPos(name='handContactPos', class="form-control col-lg-6", placeholder='Hand @ contact [x,y]', autocomplete=off)
                                    tr
                                        td
                                            input#elbowReleasePos(name='elbowReleasePos', class="form-control col-lg-6", placeholder='Elbow @ release [x,y]', autocomplete=off)
                                        td
                                            input#handReleasePos(name='handReleasePos', class="form-control col-lg-6", placeholder='Hand @ release [x,y]', autocomplete=off)
                                    tr
                                        td(colspan="2")
                                            input#upperArmMass(name='upperArmMass', class="form-control col-lg-6", placeholder='Mass of upper arm [kg]', autocomplete=off)
                                    tr
                                        td(colspan="2")
                                            input#forearmMass(name='forearmMass', class="form-control col-lg-6", placeholder='Mass of forearm [kg]', autocomplete=off)
                                    tr
                                        td(colspan="2")
                                            input#handMass(name='handMass', class="form-control col-lg-6", placeholder='Mass of hand [kg]', autocomplete=off)
                                    tr
                                        td(colspan="2")
                                            input#subjectMass(name='subjectMass',class="form-control col-lg-6", placeholder='Mass of subject [kg]', autocomplete=off)
                                    tr
                                        td
                                            input(type='hidden', name='patient_id', value='#{patient._id}')
                                        td
                                            input#submitBtn(type='submit', class="btn btn-default", value='Submit data')
                            #errorBox
                                p
                                if (error)
                                    | #{error}
