//
   Created by Mihnea on 7/9/2015.
extends layout

block content
   if (patient)
      h1
         a(href='/patient/#{patient._id}') #{patient.lastname}, #{patient.firstname}
      p
         | CNP: #{patient._id}
      br
      br
      if(sim)
         p
            b Simulation #{sim.created}
         table
            tbody
               tr
                  td
                     | Shoulder: #{sim.shoulderPos}
               tr
                  td
                     | Elbow @contact: #{sim.elbowContactPos}
                  td
                     | &#09
                  td
                     | Elbow @release: #{sim.elbowReleasePos}
               tr
                  td
                     | Hand @ contact: #{sim.handContactPos}
                  td
                     | Hand @release: #{sim.handReleasePos}
         p
            | Upper arm mass: #{sim.upperArmMass}
         p
            | Forearm mass: #{sim.forearmMass}
         p
            | Hand mass: #{sim.handMass}
         p
            | Subject overall mass: #{sim.subjectMass}
         form(method='post', action='/patient/#{patient._id}/sim/#{sim._id}', enctype='application/x-www-form-urlencoded')
            input(type='submit', value='Export JSON')


